@font-face {
  font-family: "iransans";
  src: url("./assets/fonts/IRANSansXV.woff") format("woff");
}

@font-face {
  font-family: "iransans-reg";
  src: url("./assets/fonts/IRANSansX-Regular.woff") format("woff");
}

@font-face {
  font-family: "iransans-bold";
  src: url("./assets/fonts/IRANSansX-Bold.woff") format("woff");
}

@import "tailwindcss";
@import '@splidejs/react-splide/css';
@import '@splidejs/react-splide/css/skyblue';
@import '@splidejs/react-splide/css/sea-green';
@import '@splidejs/react-splide/css/core';